<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Nova unitat</h1>
        <p></p>
        <p></p>
        <div class="col-6 offset-3">
            <form id="formulariet" action="/unitats" method="POST" novalidate class="validated-form">

                <div class="mb-3">
                    <label class="form-label" for="nom">Nom Unitat</label>
                    <input class="form-control" type="text" id="nom" name="unitat[nom]" required>
                    <div class="valid-feedback">Sembla correcte!</div>
                </div>

                <select id="selectZona" class="form-select mb-3" aria-label="tipus" name="unitat[zona]" required>

                    <option id="option0" selected>Escull una Zona</option>
                    <option class="link-danger" id="option1" value="creaZona">Crea una Zona</option>


                </select>

                <select id="selectPlanta" class="form-select mb-3" aria-label="tipus" name="unitat[planta]" required>
                    <option selected>Escull una planta</option>
                    <option value="soterrani">Soterrani</option>
                    <option value="baixa">Planta baixa</option>
                    <option value="primera">Primer pis</option>
                    <option value="segona">Segon pis</option>
                    <option value="tercera">Tercer Pis</option>
                    <option value="terrat">Terrat</option>
                </select>

                <select id="selectArea" class="form-select mb-3" aria-label="tipus" name="unitat[area]" required>
                    <option selected>Escull una àrea</option>
                    <option value="docent-alumnes">Docent-Alumnes</option>
                    <option value="departaments-despatxos-professors">Departaments-Despatxos-Professors</option>
                    <option value="magatzems-despatxos_operatiuts">Magatzems i Despatxos Operatius</option>
                    <option value="wc">WC</option>
                </select>

                <div class="mb-3">
                    <button class="btn btn-success">Afegeix Unitat</button>
                </div>
            </form>
            <a href="/unitats">Totes les Unitats</a>
        </div>
    </div>

    <script>




        selectZona.addEventListener('click', remove)
        selectZona.addEventListener('click', llegirTaula)
        
        function llegirTaula() {
            const selectZona = document.querySelector('#selectZona');
            fetch('../zonas/all')
                .then(res => res.json())
                .then(zonas => {
                    //console.log(zonas)
                    for (let zona of zonas) {
                        //console.log(zona)
                        const option = document.createElement('option');
                        option.value = zona.nom;
                        option.className = 'option';
                        option.innerText = zona.nom;
                        selectZona.appendChild(option);
                    }
                    if (this.value == "creaZona") {

                        this.value = '';
                        window.open('../zonas/new')
                        // selectZona.removeEventListener('click', link, true);
                    }

                })
        }
        function remove() {
            const optionsSelectZona = document.querySelectorAll('.option');

            for (let optionsToRemove of optionsSelectZona) {

                // console.log(optionsSelectZona);
                optionsToRemove.remove();

            }

        }





    </script>